---
layout: default
title: adagio.github.io by adagio
---

<h3>
<a name="welcome-to-my-github-pages" class="anchor" href="#welcome-to-my-github-pages"><span class="octicon octicon-link"></span></a>Welcome to my GitHub Pages.</h3>

<p>Here there are beautiful pages for all of my projects.</p>

<p>Join us in our <a href="http://adagiodev.wordpress.com">Rails trip, our "just code" blog</a></p>

<p>Here it is my about.me page
<a href="http://about.me/franco.cedillo">http://about.me/franco.cedillo</a></p>

<p>Maybe some information in my blog (mainly in spanish) could be useful for you
<a href="http://francocedillo.wordpress.com">http://francocedillo.wordpress.com</a></p>



<h2>Blog Posts</h2>

  <ul class="posts">
    {% for post in site.posts %}
      <li><span class="date">{{ post.date | date_to_string }}</span> &raquo; {% if post.categories != empty %} <span class="category">[{{ post.categories }}]</span> {% endif %} <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>



<h3>
<a name="thank-you-github" class="anchor" href="#thank-you-github"><span class="octicon octicon-link"></span></a>Thank you GitHub</h3>

<p>In 2007, Chris Wanstrath (<a href="https://github.com/defunkt" class="user-mention">@defunkt</a>), PJ Hyett (<a href="https://github.com/pjhyett" class="user-mention">@pjhyett</a>), and Tom Preston-Werner (<a href="https://github.com/mojombo" class="user-mention">@mojombo</a>) founded GitHub.</p>

